*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
.vscode
/build
/dist
/docs/_build
temp
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.glut/
ssl_certs/localhost.crt
ssl_certs/localhost.key

**/sample_output.mp4
results

/sync*.sh
models/MiniCPM-o-2_6*
models/iic
models
resource/audio
resource/avatar/*
!resource/avatar/put_avatar_here.txt

# Large model files
src/handlers/avatar/liteavatar/algo/liteavatar/weights/
src/handlers/client/rtc_client/frontend/node_modules/

# Frontend build files
web/node_modules/
web/dist/

# Ignore submodule changes
src/handlers/avatar/liteavatar/algo/liteavatar/
src/handlers/client/rtc_client/frontend/

dump_talk_audio.pcm
dump_avatar_audio.pcm
exp/
uv.lock
logs/
.lock
